/* .header {
  background: #fff;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 100;
  border-radius: 30px;
    margin: auto;
    width: 90vw;
    height: 7vh;
}

.header-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color: #10131d;
}

.search-login {
  display: flex;
  gap: 10px;
  align-items: center;
}

.search-box {
  padding: 17px 15%;
  border: 1px solid #ccc;
  border-radius: 30px;
}

.btn {
  padding: 6px 12px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 30px;
}

.login {
  font-size: 14px;
    
    padding: 17px 34px;
  background: #10131d;
  color: white;
}

.register {
  font-size: 14px;
   
    padding: 17px 34px;
  background: white;
  color: #10131d;
  border: 1px solid #10131d;
} */
.header-container {
  
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    border-radius: 30px;
    box-shadow: rgba(9, 9, 9, 0.35) 0px 8px 20px;
    padding: 0px 10px;
    margin-top: 15px;
}

.header-options {
    padding-top: 20px;
}

.header-options a {
    margin: 0px 30px;
    text-decoration: none;
    color: black;
}

.accounts-btn {
    padding-top: 16px;
}

.accounts-btn button {
    background: none;
    margin: 0px 5px;
    border-radius: 15px;
    padding: 4px 15px;
}