.saved-jobs {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
p {
  margin: 0;
}
.job-cards-saved{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 40px auto;
}